body{
	background-color: #212992;
}
h1{
	font-size: 55px;
	color: #3D5A6C;
}
button{
	background-color: #748E54;
	color: #DC965A;
	width: 150px;
}
p{
	text-decoration-style: #ffffff;
	font-size: 30px;
}