body{
	background-color: #212922;
}
h1{
	font-size: 55px;
	color: #E4572E;
}
button{
	background-color: #748E54;
	color: #DC965A;
	width: 200px;
}
p{
	text-decoration-color: #FFFF82;
	color: #FFFF82;
	font-family: system-ui;
	font-size: 30px;
}